.wrapper {
  max-width: 80hw;
  margin: 4rem 0;
}

.contentWrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.metaTop,
.metaBottom {
  display: flex;
  justify-content: space-evenly;
}

.metaOne,
.metaTwo,
.metaThree,
.metaFour {
  font-family: "Operator Mono SSm A", "Operator Mono SSm B";
  font-weight: 400;
  font-size: 0.8rem;
}
