.wrapper {
  max-width: 80hw;
}

.contentWrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.metaTop,
.metaBottom {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.metaLine {
  flex-grow: 1;
  text-align: center;
}

.metaTop {
  border-top: 1px solid black;
  margin-bottom: 6rem;
}

.metaOne,
.metaTwo,
.metaThree,
.metaFour {
  font-family: "Operator Mono SSm A", "Operator Mono SSm B";
  font-weight: 400;
  font-size: 0.8rem;
}
